:root {
  --white: rgb(254, 254, 254);
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--very-dark-blue);
  background-image: url('./images/bg-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @media screen and (min-width: 767px) {
    background-image: url('./images/bg-desktop.png');
    background-size: contain;
    background-position-y: bottom 32%;
  }

  @media screen and (min-width: 1280px) {
    background-position-y: bottom -8%;
  }
}

.storage {
  display: flex;
  flex-direction: column;
  font-family: Raleway, sans-serif;
  color: var(--grayish-blue);
  width: 100%;
  max-width: 20rem;

  @media screen and (min-width: 767px) {
    flex-direction: row;
    align-items: end;
    max-width: 54rem;
  }

  .storage__header,
  .storage__main {
    background-color: var(--dark-blue);
    border-radius: 8px;
  }

  .storage__header {
    border-top-right-radius: 80px 80px;
    padding: 40px;
    margin-bottom: 15px;

    @media screen and (min-width: 767px) {
      width: 36rem;
      margin-bottom: 0;
      margin-right: 28px;
    }

    .header__container {
      width: 12rem;
    }

    .header__icons {
      display: flex;
      flex-direction: row;
      margin-top: 30px;
    }

    .site__icon {
      width: 135px;
      height: 40px;
    }

    .storage__icon {
      display: flex;
      align-items: center;
      padding: 11px;
      border-radius: 8px;
      background-color: var(--very-dark-blue);

      &:first-child {
        margin-right: 15px;
      }
      
      &:last-child {
        margin-left: 15px;
      }
    }
  }

  .storage__main {
    width: 100%;
    padding: 25px 40px;
    max-height: 150px;

    @keyframes loading {
      0% {
        background-position: -500px 0;
      }

      100% {
        background-position: 500px 0;
      }
    }

    .storage__loading {
      display: none;
      animation-duration: 1.25s;
      animation-name: loading;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      background: linear-gradient(to right, var(--dark-blue), var(--very-dark-blue), var(--dark-blue));
      height: 32px;
      position: relative;
      border-radius: 8px;
    }
  }

  .storage__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-height: auto;

    @media screen and (min-width: 767px) {
      flex-direction: column-reverse;
      padding-top: 40px;
      padding-bottom: 40px;
      margin-top: -105px;
      text-align: left;
    }

    .storage__message {
      font-size: 0.875rem;
      color: var(--pale-blue);
      margin-bottom: 15px;
      font-weight: 400;
    }

    .storage__current {
      font-weight: 700;
    }

    .storage__total,
    .storage__used {
      border-radius: 15px;
    }

    .storage__total {
      height: 16px;
      width: 100%;
      padding: 2px;
      background-color: var(--very-dark-blue);
    }

    .storage__used {
      height: 13px;
      width: 75.5%;
      padding: 1px;
      background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    }

    .storage__marker {
      height: 10px;
      width: 10px;
      float: right;
      margin-right: 1px;
      background-color: var(--pale-blue);
      border-radius: 999px;
    }

    .storage__units {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-top: 5px;
    }

    .storage__unit {
      font-size: 0.75rem;
      font-weight: 700;
      color: var(--pale-blue);
    }

    .storage__quota {
      align-self: center;
      display: flex;
      flex-direction: row;
      align-items: center;
      max-width: 12rem;
      max-height: 80px;
      margin-top: 15px;
      background-color: var(--white);
      color: var(--very-dark-blue);
      padding: 8px 20px;
      border-radius: 8px;

      @media screen and (min-width: 767px) {
        max-height: 65px;
        margin-top: 0;
        margin-bottom: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        flex-direction: column;
        align-self: end;
        border-bottom-right-radius: 0;
      }

      .quota__message {
        letter-spacing: 0.115em;
        font-size: 0.8rem;
        font-weight: 700;
        color: var(--grayish-blue);
        text-transform: uppercase;

        @media screen and (min-width: 767px) {
          font-size: 0.675rem;
        }
      }

      .quota__amount {
        color: var(--very-dark-blue);
        font-weight: 700;
        font-size: 2.25rem;
        margin-right: 10px;
      }

      .quota__caret {
        display: none;

        @media screen and (min-width: 767px) {
          width: 0;
          height: 0;
          display: inline-block;
          align-self: end;
          margin-top: -20px;
          margin-right: -20px;
          border: 25px solid transparent;
          border-right-color: var(--white);
        }
      }
    }
  }
}